body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: white;
    background: #1d1d1d;
}

header {
    background: #511845;
}

header article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    margin: 0px 10px;
}

header article.avatar img {
    border-radius: 50%;
    border: 4px solid white;
}

header article.info {
    display: flex;
    vertical-align: middle;
}

header article.info p {
    margin: 10px 10px;
}

header article.info p.description {
    margin-bottom: 10px;
}

header article.info p.contact {
    margin-top: 3px;
    margin-bottom: 3px;
}

section {
    background: #900C3F;
}

section h1 {
    margin: 16px 0px;
}

section p {
    margin: 8px 0px;
}

footer {
    background: #FF5733;
}

footer article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 20vw;
}

footer article p {
    margin: 5px;
}

a:link, a:visited {
    color: #e7e7e7;
    text-decoration: none;
}

a:hover, a:active {
    color: #d5d5d5;
    text-decoration: none;
}

.separator, .row {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 20vw;
}

.column {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 20vw;
}

.header-separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.header-separator svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.header-separator .shape-fill {
    fill: #511845;
}

.footer-separator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footer-separator svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.footer-separator .shape-fill {
    fill: #FF5733;
}
